html {
  height:100%;
}

body {
  margin: 0px;
  height:100%;
  font-family: arial;
}

a {

	text-decoration-style: dotted;
	color: #32819e;
	margin: 3px;
	text-decoration-color: #d5d5d5;
}

a:hover {
	text-decoration-style: inherit;
	color: #e63e20;
}

#header {
	min-height: 128px;
	/*height: 15%;*/
	width: 100%;
  background-image: url(/static/kusya.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}


.logo {
	width: 230px;
	display: inline-block;
	font-size: revert;
  margin-left: 150px;
}

.logo h1 {
	display: contents;
	color: #32819e;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: oblique;
	font-variant: small-caps;
}

.menus {
	float: right;
	margin: 10px 20px;
	font-style: initial;
	font-size: smaller;
    text-align: end;
}

.button_list i {
	font-size: x-large;
	float: right;
	margin-left: 11px;
}

.button_list a {
  color: #c8c8c8;
}

.button_list a:hover {
  color: #32819e;
}

.button {
	width: 127px;
	background-color: #ee4c05;
	color: white;
	font-size: x-small;
	padding: 2px;
	text-align: left;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
}

.button i{
	font-size: x-large;
	color: gold;
	float: inline-start;
	margin: 5px;
}

.button span{
	float: right;
	font-weight: bolder;
	color: gold;
}


.form_center {
	width: 650px;
	margin: 0px auto;
	text-align: center;
}

input, textarea, select {
  margin: 6px;
  border-style: solid;
  padding: 6px;
  text-align: center;
  border-color: #e3e3e3;
  width: 100%;
}

textarea {
  text-align: left;
}

input[type="submit"] {
	width: 250px;
	margin: 6px;
	border-radius: 6px;
	border-style: unset;
	padding: 5px;
	cursor: pointer;
	background-color: #5ba5da;
	color: aliceblue;
}


.select_info_error {
	text-align: right;
	font-size: small;
	color: brown;
	margin: 12px;
}


.content {
    max-width:580px;
    margin:0px auto;
}
.content .title {
    color: #32819e;
    font-size: larger;
}

.iconaccount {
    color: cornflowerblue;
    font-size: large;
}

.greenicon {
	color:#448434 !important;
	font-size: medium !important;
}

.redicon {
	color: red !important; 
	font-size: medium !important;
}

.lindex {
    display: flex;
    margin-top: 80px;
    color: #777777;
    font-size: x-large;
}
.lindex .fa {
    font-size: xx-large;
    margin: 10px;
    color: #32819e;    
}

.lindex img {
    margin-left: 15px;
	margin-right: 15px;
	border-style: outset;
}

