html {
  height:100%;
}

body {
  margin: 0px;
  height:100%;
}

#lock {
	position: absolute;
	bottom: 10px;

	background-color: #0000005e;
	top: 17%;
	z-index: 200;
	left: 10px;
	right: 10px;
	border-radius: 10px;
}

.message {
	width: 280px;
	background-color: #fff;
	margin: 64px auto;
	padding: 28px;
	text-align: center;
	font-family: arial;
	border-radius: 5px;
	font-size: small;
	box-shadow: 5px 5px #282828;
}

#header {
	min-height: 128px;
	height: 17%;
	width: 100%;

  font-family: arial;
	color: #ff2728;
}

#header h1 {
	font-style: oblique;
	margin: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	display: inline;
}

.logo {
	width: 230px;
	display: inline-block;
	font-size: smaller;
}

.menu {
	max-width: 200px;
	float: right;
	margin: 0px 20px;
	font-style: initial;
	font-size: smaller;
  text-align: end;
}

.menu form {
	text-align: center;
	padding: 10px;
	background-color: #e6e6e6;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
}

.menu form input {
	margin: 5px;
	width: 90%;
}
.fabutton {
	font-size: x-large;
	margin-left: 4px;
	color: #294d73 !important;
	background-color: #e6e6e6;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
	float: inherit;
	margin-top: 7px;

	text-decoration: none;
}

.fabutton:hover {
  color: #ff2728 !important;
}

.menu a {
	margin-bottom: 5px;
	display: block;
	color: black;
}

.menu a:hover {
	color: #ff2728;
}
