{% extends "base.html" %}

{% block content %}

<div class="content" >
<p class="title"> <stvrong>Kojima</stvrong> <br /> Программа учета финансов</p>
    <p>Создана для ведения домашней бухгалтерии по соображениям автора (Макрушина Андрея), для личного использования.</p>
        <p>Я буду рад если программа окажется полезной еще кому-нибудь. В случае если у Вас есть пожелания о даробтке
        или иные предложения прошу связаться со мной:
            <ul>
                <li>Написать на почту <a href="mailto:mag.ondrei@gmail.com">mag.ondrei@gmail.com</a></li>
                <li>Или в телеграмм <a href="https://t.me/andrey_makrushin">andrey_makrushin</a></li>
            </ul>
        </p>

       
</div>


{% endblock %}

{% block script %}

{% endblock %}
