{% extends "base.html" %}

{% block content %}

<div class="content" >

        <span>Программа "Куджима"  создана для ведения домашней бухгалтерии и небольших проектов.</span>
        <p>Идея создания программы заключается в воспитании дисциплины в отношении финансовых дел и хозяйственной деятельности. Это необходимо для реализации долгосрочных проектов и целей.</p>

        <span>Я буду рад если программа окажется полезной еще кому-нибудь. Если у Вас есть 
        пожелания о доработке или интересные предложеня, прошу написань мне в <a href="https://t.me/andrey_makrushin">телеграмм</a>. 
        </span>

    
    <p style="text-align: end; font-size: small;">&copy; Макрушин А.Г	2020</span>

       
</div>


{% endblock %}

{% block script %}

{% endblock %}
