{% extends "base.html" %}

{% block content %}

<div class="content" >
<p class="title"> <stvrong>О программе</stvrong> </p>
    <p>Программа "Kojima" создана для ведения домашней бухгалтерии, по соображениям автора. 
    Идея проекта заключается в воспитании дисциплины в отношении финансовых дел и хозяйственной деятельности, для реализации долгосрочных проектов и целей.
    </p>
    
    <p>Я буду рад если программа окажется полезной еще кому-нибудь. Если у Вас есть 
    пожелания о доработке или интересные предложеня, прошу восползоваться 
    формой <a href="https://t.me/andrey_makrushin">обратной связи</a> или написань мне на email <a href="mailto:mag.ondrei@gmail.com">mag.ondrei@gmail.com</a>
    </p>
    <p style="text-align: end; font-size: small;">&copy; Макрушин А.Г	2020</p>
    <p><a href="tg://kojimasubot?start=111111">start</a></p>

       
</div>


{% endblock %}

{% block script %}

{% endblock %}
