{% extends "base.html" %}

{% block content %}

<div class="content" >

<table style="
    margin: 0px auto;
    width: 450px;
    background-color: crimson;
    color: beige;
    border-radius: 5px;
">
  <tr align="center">
    <td>Расходы</td>
    <td>Задачи</td>
    <td>Аренда</td>
  </tr>
  <tr>
    <td>Мобильное приложение регистрации расходов по счету</td>
    <td>Учет задач по проектам, с расчетом стоимости по объему выполненных работ</td>
    <td>Учет арендного оборудования</td>
  </tr>
</table>


</div>


{% endblock %}

{% block script %}

{% endblock %}
