<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gold fish</title>

  <link rel="stylesheet" href="/static/w2ui/w2ui-1.5.rc1.min.css">
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/base.css">


  <script type="text/javascript" src="/static/jquery.min.js"></script>


  <script type="text/javascript" src="/static/w2ui/w2ui-1.5.rc1.js"></script>
  <script id="rdivocale" type="text/javascript" src="/static/locale/ru-ru.json"></script>

</head>

<body>

<div >
<a href="/"><strong> <i class="fa fa-home" aria-hidden="true"></i>
 Kojima</strong> на главную</a>


<div class="menu">
  <a href="#">Инструкция</a>
  <a href="#">Приложения</a>
  <a href="/about">О программе</a>

  {% if user_name %}
    <span style="background-color: azure; padding: 3px;">
      <a href="/auth/userinfo"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{user_name}}</a>
      <a href="/auth/logout"><i class="fa fa-sign-out" id="name_user"></i> Выход</a>
    </span>
  {% else %}
    <span style="background-color: azure; padding: 3px;">
      <a href="/auth/page_login"><i class="fa fa-sign-in"></i> Вход</a>
    </span>
  {% endif %}
</div>
</div>


{% block content %}{% endblock %}

</body>

{% block script %}{% endblock %}

</html>
