<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kojima</title>

  <link rel="stylesheet" href="/static/w2ui/w2ui-1.5.rc1.min.css">
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/base.css">


  <script type="text/javascript" src="/static/jquery.min.js"></script>


  <script type="text/javascript" src="/static/w2ui/w2ui-1.5.rc1.js"></script>
  <script id="rdivocale" type="text/javascript" src="/static/locale/ru-ru.json"></script>

</head>

<body>

<div style="display: flex; width: 940px; margin: 10px auto; height: 100%;">
  <div style="width: 350px; border-right-style: inset; text-align: end; padding-right: 10px; border-right-width: thin;">
  <!-- left menu -->
  
    <div class="logo">
      <a href="/" style="text-decoration: none;"><h1>Kojima</h1></a>
      <p><span style="color: #32819e;">Программа учета финансов</span> <span style="font-size: smaller;font-style: oblique;">Учет затрат, бюджетирование, амортизация и планирование.</span></p>
    </div>

    <div class="menus">
      <a href="/about">О программе</a><br>

      {% if user_name %}
          
        <a href="/xlsx/get_all_report">Экспортировать в xlsx <i class="fa fa-file-excel-o" aria-hidden="true"></i></a> <br>
        <a href="/app">Бухгалтерия <i class="fa fa-money" aria-hidden="true"></i></a><br>
        <a href="/auth/userinfo">{{user_name}} <i class="fa fa-user-circle" aria-hidden="true"></i></a><br>
        <a href="/auth/logout">Выход <i class="fa fa-sign-out" id="name_user"></i> </a><br>
      {% else %}
      <form action="/auth/login" id="login" method="post">
        <p>Авторизация</p>
        {% if mess %}
            <p style="color: #000000; background-color: darkorange; border-radius: 3px; padding: 2px;">{{ mess }}</p>
        {% endif %}
        <input type="email" placeholder="Ваш email..." name="user_mail"  required=required>
        <input type="password" placeholder="Пароль" name="user_password" required=required>
        <input type="submit" name="authorisation" value="Войти">
        <div style="font-size: smaller;"><a href="/auth/page_newuser">Регистрация</a> / <a href="/auth/page_repass">Востановление доступа</a></div>        
      </form>

      {% endif %}      

    </div>
    
  </div>

  <div style="">
    <!-- Содержимое страницы -->
  <p><img src="/static/kusya.jpg" alt="" width="95"> <span style="color:  darkorange; font-size: xx-large;">{{title}}</span></p>   
    <div style="margin-left:30px">
      {% block content %}{% endblock %}  
    </div>
  
  </div>
  
</div>
<p style="text-align: center; font-size: small;">© Макрушин А.Г	2020</p>

{% if not mini %}
2
  {% else %}
1
 {% endif %}


</body>

{% block script %}{% endblock %}

</html>
