<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gold fish</title>

  <link rel="stylesheet" href="/static/w2ui/w2ui-1.5.rc1.min.css">
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/base.css">


  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/w2ui/w2ui-1.5.rc1.js"></script>
  <script id="rdivocale" type="text/javascript" src="/static/locale/ru-ru.json"></script>

</head>

<body>

<div id="header">

  <a href="/" style="height:100%; float: left;"><img src="/static/kusya.jpg" alt="" height="100%"></a>

<div class="logo">
  <h1>Kojima</h1>
  <p>Программа учета финансов </p>


</div>

<div class="menu">


  <a href="/service_request">Обратная связь</a>
  <a href="#">Инструкция</a>
  <a href="#">О программе</a>
  <a href="/login" style="font-size: larger;margin-bottom: 9px;"><i class="fa fa-sign-in"></i> Вход</a>
  <p>
    <div class="button_list">
      <p style="font-size: large;color: #f08231;">Присоеденяйтесь к нам в соц. сетях</p>
      <a href="#" ><i class="fa fa-vk fabutton"></i></a>
      <a href="#" ><i class="fa fa-telegram fabutton"></i></a>
      <a href="#" ><i class="fa fa-facebook-official"></i></a>
    </div>
  </p>

</div>


</div>

{% block content %}{% endblock %}

</body>

{% block script %}{% endblock %}

</html>
