<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gold fish</title>

  <link rel="stylesheet" href="/static/w2ui/w2ui-1.5.rc1.min.css">
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="/static/base.css">


  <script type="text/javascript" src="/static/jquery.min.js"></script>
  <script type="text/javascript" src="/static/w2ui/w2ui-1.5.rc1.js"></script>
  <script id="rdivocale" type="text/javascript" src="/static/locale/ru-ru.json"></script>

</head>

<body>

<div id="header">

  <a href="/" style="height:100%; float: left;"><img src="/static/kusya.jpg" alt="" height="100%"></a>

<div class="logo">
  <h1>Kojima</h1>
  <p>Программа учета финансов</p>
</div>

<div class="menu">

  <span>Помощь </span><br>
  <a href="/service_request"><i class="fa fa-rocket"></i> Запрос на обслуживание</a>
  <a href="#">Инструкция</a>
  <a href="#">О программе</a>
  <div class="button_list">
    <span>Присоеденяйтесь к нам в соц. сетях </span><br>
    <a href="#" ><i class="fa fa-vk fabutton"></i></a>
    <a href="#" ><i class="fa fa-telegram fabutton"></i></a>
    <a href="#" ><i class="fa fa-facebook-official"></i></a>
  </div>

</div>


<div class="menu">
  Вы Гость, для получения <br> доступа к сервису авторизуйтесь
  <a href="/login"><i class="fa fa-sign-in"></i> Войти</a>
  <a class="button" href="#" style="background-color: #137395;">
    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
    <span>.xlsx</span>
    Получить копию
  </a> <br>

  <a class="button" href="#"  style="background-color: #137395;">
    <i class="fa fa-mobile" aria-hidden="true"></i>
    <span>ссылка</span>
    Быстро добавить операцию
  </a>
</div>


<div class="menu">
<p>Поделись ссылкой на приложение с друзьями и <br> получи подарок :)</p>

  <a class="button" href="#">
    <i class="fa fa-coffee" aria-hidden="true"></i>
    <span>реклама</span>
    Получить капучино
  </a>


</div>


</div>

{% block content %}{% endblock %}

</body>

{% block script %}{% endblock %}

</html>