{% extends "base.html" %}

{% block content %}

<div class="content">
        <p class="title">Основные возможности</p>        
        <div class="lindex">
            
            Учет ежемесячных платежей и подписок на сервисы
            <div>
                Один раз внесите в программу повторяющийся платёж и программа автоматически напомнит о нём, а также учтет его при планировании бюджета.
            </div>
        
        </div>


        <div class="lindex">
            Разделение платежей по счетам и категориям
            <div>
                Разделите счета по категориям, для анализа своих расходов. Создание счетов позволит контролировать остаток средств по всем кошелькам и картам. 
            </div>
        </div>



        <div class="lindex">        
            Возможность фиксировать расходы из телеграмм-бота
            <div>
                Вы можете создавать категории расходов или доходов, платежи по которым можно регистрировать через телеграм бота.
            </div>
        </div>


        <div class="lindex">

            Ведение проектов и группировка платежей в операции
            <div>
                Инструмент создания операций позволят логически объединить платежи, например можно зафиксировать стоимость ремонта или отследить платежи по кредиту. 
            </div>

        </div>

        <div class="lindex">
            Возможность производить накопления и устанавливать цели
            <div>
                Вы можете создать виртуальный счет, для накопления средств на свои цели. Таким образом, вы сможете отследить прогресс накоплений. 
            </div>
        </div>


<p style="text-align: end; font-size: small;">© Макрушин А.Г	2020</p>

</div>


{% endblock %}

{% block script %}

{% endblock %}
