{% extends "base.html" %}

{% block content %}


<div class="content">
        
        <div class="lindex">
            
            <div class="title">Учет ежемесячных платежей и подписок на сервисы</div>
            
            <span class="desc">Один раз внесите в программу повторяющийся платёж и программа автоматически напомнит о нём, а также учтет его при планировании бюджета.</span>

        </div>


        <div class="lindex">

            <div class="title">Разделение платежей по счетам и категориям</div>
            
            <span class="desc">Разделите счета по категориям, для анализа своих расходов. Создание счетов позволит контролировать остаток средств по всем кошелькам и картам.</span>

        </div>



        <div class="lindex">        
            <div class="title">Возможность фиксировать расходы из телеграмм-бота</div>
            <span class="desc">
                Вы можете создавать категории расходов или доходов, платежи по которым можно регистрировать через телеграм бота.
            </span>
        </div>


        <div class="lindex">

            <div class="title">Ведение проектов и группировка платежей в операции</div>
            <span class="desc">
                Инструмент создания операций позволят логически объединить платежи, например можно зафиксировать стоимость ремонта или отследить платежи по кредиту. 
            </span>

        </div>

        <div class="lindex">
            <div class="title">Возможность производить накопления и устанавливать цели</div>
            <span class="desc">
                Вы можете создать виртуальный счет, для накопления средств на свои цели. Таким образом, вы сможете отследить прогресс накоплений. 
            </span>
        </div>


</div>


{% endblock %}

{% block script %}

{% endblock %}
