{% extends "base.html" %}

{% block content %}

<style>
#login {
	width: 350px;
	margin: 0px auto;
	text-align: center;
}

#login input {
	width: 250px;
}

</style>



<form action="/get_session" id="login">
	  <p>Авторизация</p>
    {% if mess %}
        <p style="color: #dd796f;">{{ mess }}</p>
    {% endif %}
    <input type="email" placeholder="Ваш email..." name="user_mail"  required=required>
    <input type="password" placeholder="Пароль" name="user_password" required=required>
    <input type="submit" name="authorisation" value="Войти">
    <hr>
    <a href="/newuser">Регистрация</a> / <a href="/repassword">Востановление доступа</a>
</form>

{% endblock %}
