{% extends "base.html" %}

{% block content %}

<style>
form {
	width: 350px;
	margin: 0px auto;
	text-align: center;
}

form input {
	width: 250px;
}

</style>

    {% if show_form_re_password %}

        <form action="/auth/re_access" method="post">
            <p>Востановление пароля</p>

            <input type="password" placeholder="Пароль" name="user_password1" required=required>
		    <input type="password" placeholder="Пароль еще раз" name="user_password2" required=required>

            <input type="submit" name="authorisation" value="Сохранить новый пароль">

            {% if mess %}
                <p style="color: #dd796f;">{{ mess }}</p>
            {% endif %}

        </form>


    {%else%}

        <form action="/auth/re_access?d=2" method="post">
            <p>Востановление пароля</p>
            <input type="email" placeholder="Ваш email..." name="user_mail">
            <input type="submit" name="authorisation" value="Отправить ссылку для востановления">

            {% if mess %}
                <p style="color: #dd796f;">{{ mess }}</p>
            {% endif %}

        </form>
    {% endif %}



{% endblock %}
