{% extends "base.html" %}

{% block content %}

<div class="form_center">

	<form action="/send_request" method="get">
		<select name="request_type" id="sel_request_type">
			<option value="error">Сообщить об ошибке</option>
			<option value="modification" selected >Предложение о даработке</option>
			<option value="repor">Оставить отзыв</option>
		</select>

		<textarea name="textrequest" rows="8"></textarea>

		<input type="submit" name="" value="Отправить запрос">


	</form>

	<p >Если вы нашли ошибку, пожулуйста сообщите об этом. Кроме того вы можете оставить свой отзыв о программе, вероятно она нуждается в улучшении 	и ваш отзыв поможет в этом.</p>
</div>



{% endblock %}
