{% extends "base.html" %}

{% block content %}

<style>
form {
	width: 350px;
	margin: 0px auto;
	text-align: center;
}

form input {
	width: 250px;
}

</style>

       <form action="/auth/re_pass" method="post">
            <p>Востановление пароля</p>

            <div style="background-color: #f2f2f2;border-radius: 9px;">
                <input type="password" placeholder="Пароль" name="pass" required=required>
                <input type="password" placeholder="Пароль еще раз" name="repass" required=required>
                <input type="hidden" name="code" value="{{code}}">
            </div>

            <input type="submit" name="authorisation" value="Подтвердить смену пароля">

            {% if mess %}
                <p style="color: #dd796f;">{{ mess }}</p>
            {% endif %}

        </form>

{% endblock %}
